# ------------------------------------------
# ------------------- OS -------------------
# ------------------------------------------
# MacOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDEs and editors
.idea
*.iml
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ------------------------------------------
# ----------------- NodeJS -----------------
# ------------------------------------------
package-lock.json
node_modules
*node_modules*
.env
.nyc_output
coverage
pnpm-lock.yaml
yarn.lock

# ------------------------------------------
# ------------------ AWS -------------------
# ------------------------------------------
tmp/*
!tmp/.gitkeep